body {
  overflow: hidden;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 4rem;
  max-width: 1600px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.welcome-text h1.title-header {
  font-size: 6rem;
  line-height: 7rem;
  text-wrap-mode: nowrap;
}

.home-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.welcome-text {
  max-width: 50%;
  transform: translateY(-6rem);
}

.welcome-text h1 {
  font-size: 2.5rem;
  color: #1e293b; /* Dark blue */
  margin-bottom: 0.5rem;
}

.welcome-text p {
  font-size: 1.2rem;
  color: #64748b; /* Grayish blue */
}

.image-bubbles {
  width: 52vw;
}

@media (max-width: 900px) {
  .welcome-text h1.title-header {
    font-size: 5rem;
  }
}
